* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* applied google fonts in body */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header */
.header {
    background-color: white;
}    

/* nav bar */
nav {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    padding: 16px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 34px;
}

.nav-menu li a{
    text-decoration: none;
    color: black;
    size: 16px;
}

.nav-button {
    padding: 24px;
}

/* Buttons */
.button {
    border: none;
    background-color: #469165;
    color: white;
    padding: 12.5px;
    font-size: 16px;
    border-radius: 5px;
}

.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 674px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
height: 674px;
}


.banner-content p{
    text-align: center;
    color: white;
}

.banner-content h1{
    text-align: center;
    font-size: 70px;
}

.banner-content .btn-div {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

#access {
    margin-top: 115.5px;
    color: #30B868;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    padding: 5px;
    border-radius: 100px;
}

#head1 {
    margin-top: 16px;
    color: white;
}
#head2 {
    color: #30B868;
}
#para {
    margin-top: 16px;
}

#trans {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
}