* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* applied google fonts in body */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header */
.header {
    background-color: white;
}    

/* nav bar */
nav {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    padding: 16px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 34px;
}

.nav-menu li a{
    text-decoration: none;
    color: black;
    size: 16px;
}

.nav-button {
    padding: 24px;
}

/* Buttons */
.button {
    border: none;
    background-color: #469165;
    color: white;
    padding: 12.5px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #30B868;
    /* box-shadow: 0px 0px 1px 2px black; */
}

.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 674px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
height: 674px;
}


.banner-content p{
    text-align: center;
    color: white;
}

.banner-content h1{
    text-align: center;
    font-size: 70px;
}

.banner-content .btn-div {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

#access {
    margin-top: 115.5px;
    color: #469165;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    border-radius: 100px;
}

#head1 {
    margin-top: 16px;
    color: white;
}
#head2 {
    color: #30B868;
}
#para1 {
    margin-top: 16px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);

}

#para2 {
    color: rgba(255, 255, 255, 0.9);
}

#trans {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#trans:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

/* Notes Section starts */

.note-section {
    padding: 50px 120px;
}


.ns-heading h2{
   text-align: center;
   font-size: 48px;
   margin-bottom: 16px;
}
.ns-heading p{
   text-align: center;
   margin-bottom: 44px;
   color: #627382;
}

/* cards */
.ns-cards {
    display: flex;
    gap: 24px;
}

.ns-cards img{
    height: 60px;
    background-color: #F95555;
    margin-left:110px;
    border-radius: 100px;
    padding: 14px;
    margin-bottom: 16px;
}

.ns-cards h5{
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;

}
.ns-cards p{
    text-align: center;
    color: #627382;
    margin-bottom: 16px;
}

.ns-cards div{
    padding-top: 69.5px;
    /* border: 1px solid red; */
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

/* Second Brain Section */
.brain-section {
    padding: 70px 120px 120px 120px;
}

.section-div {
    display: flex;
    gap: 60px;
}

.brain-light img{
    border-radius: 5px;
}

.brain-text {
    padding: 102px 200px 102px 0px
}

.brain-text h2{
    font-size: 48px;
    margin-bottom: 16px;
}

#para-sol {
    margin-bottom: 16px;
    color: #469165;
}

.brain-text > p {
    color: #627382;
    margin-bottom: 40px;
    padding-right: 110px;
}

/* last section where I used div seemingly making it more complex */
.brain-text div{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

/* Cahllenge section starts! */
.ea-section {
    padding: 0px 120px 120px 120px;
}

.ea-div {
    background-color: #F7F6F2;
    height: 384px;
    text-align: center;
    border-radius: 5px;
}

.ea-div h2{
    padding-top: 80px;
    font-size: 40px;
    margin-bottom: 16px;
}

.ea-div p{
    color: #627382;
}

#lastpara {
    margin-bottom: 24px;
}

/* button! */
.ea-div button{
    margin-bottom: 16px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/* footer section! */
footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.footer-top {
    display: flex;
    gap: 1100px;
    margin-bottom: 80px;
}

.footer-top p{
    color: white;
    margin-bottom: 16px;
}

.foot-icon img{
    margin-right: 16px;
    background-color: white;
    padding: 2px;
    border-radius: 100px;
}

/* hr:/ */
#line {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom {
    margin-top: 30px;
}

.footer-bottom p{
    text-align: center;
    color: #FAFAFA;
}






/* CSS Done! */